@model AddGameAccountViewModel

@{ 
    ViewBag.Title = "Nhập Tài khoản";
}



<form asp-action="Import" id="import-form" autocomplete="off">

    <table align="center">
        <tr>
            <td colspan="3">
                <select class="form-control" asp-for="RankId" asp-items="@(new SelectList(Model.RanksList, "Id", "Name"))" required>
                    <option selected disabled hidden>-- Chọn Rank --</option>
                </select>
                <input type="number" min="0" class="form-control" asp-for="Price" placeholder="Price" required />
            </td>
        </tr>

        <tr>
            <td colspan="3">
                <input type="text" class="form-control" asp-for="LoginName" placeholder="Login Name" required />
                <input type="password" class="form-control" asp-for="Password" placeholder="Password" required />
            </td>
        </tr>

        <tr>
            <td><input type="number" min="0" class="form-control" asp-for="HeroesCount" placeholder="Heroes Count" required></td>
            <td><input type="number" min="0" class="form-control" asp-for="SkinsCount" placeholder="Skins Count" required/></td>
            <td><input type="number" min="0" class="form-control" asp-for="GoldsCount" placeholder="Golds Count" required/></td>
        </tr>

        <tr>
            <td colspan="3"><textarea rows="10" cols="100" class="form-control" asp-for="ImageUrls" placeholder="Image Urls" required></textarea></td>
        </tr>


        <tr>
            <td colspan="3">
                <input type="file" id="file" class="filepond" name="filepond" />
                <input type="submit" value="Add" />
            </td>
        </tr>
    </table>

</form>


<script src="~/libs/filepond/plugins/file-validate-type/filepond-plugin-file-validate-type.min.js"></script>
<link href="~/libs/filepond/filepond-master/dist/filepond.css" rel="stylesheet" />
<script src="~/libs/filepond/filepond-master/dist/filepond.js"></script>

<script src="~/pages/Admin/Import/script.js"></script>
<link href="~/pages/Admin/Import/style.css" rel="stylesheet" />