
<footer>
    <div class="column-container">
        <div class="column">
            <div class="title">Về aov-shop.somee.com</div>
            <div class="content">
                <p>
                    Chuyên bán nick Game Liên Quân mobile an toàn. Tin cậy nhanh chóng. Giao dịch tự động.
                </p>
                <p>
                    <a asp-action="Rules" asp-controller="Home">Điều khoản</a> | <a asp-action="Guides" asp-controller="Home">Hướng dẫn</a>
                </p>
            </div>
        </div>

        <div class="column">
            <div class="title">Chúng tôi ở đây</div>
            <div class="content">
                <p>
                    <a href="https://m.me/102103051780197" target="_blank">
                        <img src="https://user-images.githubusercontent.com/2795476/51910277-b7e42a80-2409-11e9-98aa-522020814a31.png" />
                        <span>m.me/102103051780197</span>
                    </a>
                    <a href="mailto:contact@aov-shop.somee.com" target="_blank">
                        <img src="https://ddo0fzhfvians.cloudfront.net/uploads/icons/png/2078432561574338611-512.png" />
                        <span>contact@aov-shop.somee.com</span>
                    </a>
                </p>
            </div>
        </div>

        <div class="column">
            <div class="title">Menu</div>
            <div class="content">
                <p>
                    <a asp-controller="Account" asp-action="BoughtHistory">Tài khoản đã mua</a><br />
                    <a asp-controller="Account" asp-action="Login">Đăng nhập</a> | <a asp-controller="Account" asp-action="SignUp">Đăng ký</a>
                </p>
            </div>
        </div>
    </div>
</footer>

