<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0" />


    <!-- base libs -->
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet" />
    <link href="~/libs/nucleo-test-pack/iconfont/nc-demo_outline/css/style.css" rel="stylesheet" />
    <script src="~/libs/jquery/dist/jquery.js"></script>


    <!-- snackbar -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/libs/snackbar-notifier/css/snackbar.css" rel="stylesheet" />
    <script src="~/libs/snackbar-notifier/js/snackbar.js"></script>


    <!-- self modules -->
    <link href="~/layout/main/main.css" rel="stylesheet" />
    <script src="~/layout/main/main.js"></script>
    <script src="~/layout/header/header.js"></script>


    <link rel="icon" type="image/x-icon" href="~/fav-icon.png" />
    <title>@ViewBag.Title</title>
</head>
<body>


    <div id="wrapper">
        @await Component.InvokeAsync("Header")

        <div id="content">
            @RenderBody()
        </div>
    </div>


    @if (TempData["message"] != null)
    {
        <snackbar></snackbar>
        <script>
            const snackbar = new SnackBar;
            snackbar.make("message", [
                "@TempData["message"]", null, "bottom", "center"
            ], 5000);
        </script>
    }


    @await Html.PartialAsync("_Footer");
</body>
</html>
