@{
    ViewBag.Title = "Hướng dẫn Mua";
}

<link href="~/pages/Home/Guides/style.css" rel="stylesheet" />


<div class="guids-container">
    <h2>Hướng dẫn Mua Tài khoản</h2>


    <h3>BƯỚC 1: Đăng nhập vào Website</h3>
    <p>Tại Trang chủ, chọn nút "Đăng nhập" ở góc trên bên phải.</p>
    <img src="~/pages/Home/Guides/B1.png" />

    <p>Màn hình Đăng nhập hiện ra, nếu bạn đã có Tài khoản, nhập đầy đủ thông tin và nhấn nút "Đăng nhập". Nếu chưa, nhấn "Đăng ký".</p>
    <img src="~/pages/Home/Guides/B3.png" />

    <p>Khi đăng ký, nhập đủ thông tin và nhấn "Đăng ký". Một tin nhắn sẽ được gửi vào hộp thư e-mail mà bạn đã dùng để Đăng ký.</p>
    <img src="~/pages/Home/Guides/B5.png" />

    <p>Kiểm tra E-mail và nhấn vào nút "Bấm vào đây để xác thực..." để tiến hành xác thực e-mail của bạn.</p>
    <img src="~/pages/Home/Guides/B7.png" />

    <p>Khi trang hiện ra thông báo là "Xác thực thành công", bạn có thể quay lại trang Đăng nhập và tiến hành Đăng nhập vào Hệ thống.</p>
    <img src="~/pages/Home/Guides/B9.png" />



    <h3>BƯỚC 2: Mua Tài khoản</h3>
    <p>Tại Trang chủ, chọn nút "Xem chi tiết" ở Tài khoản mà bạn muốn mua.</p>
    <img src="~/pages/Home/Guides/B10.png" />

    <p>Trang chi tiết của Tài khoản sẽ hiện ra, hãy lướt xem qua các hình ảnh để đảm bảo bạn muốn mua Tài khoản đã chọn, dau đó nhấn nút "Mua ngay".</p>
    <img src="~/pages/Home/Guides/B11.png" />

    <p>Trang xác nhận Mua Tài khoản hiện ra để bạn đảm bảo các thông tin là chính xác. Nhấn "Thanh toán" khi đã hoàn toàn đồng ý.</p>
    <img src="~/pages/Home/Guides/B12.png" />

    <p>Khi mua thành công, bạn sẽ nhận được thông tin đăng nhập bao gồm Username và Password. Hãy thay đổi chúng khi vào Game.</p>
    <img src="~/pages/Home/Guides/B13.png" />

    <p>Bạn hoàn toàn có thể xem Lịch sử các tài khoản đã mua ở Menu.</p>
    <img src="~/pages/Home/Guides/B14.png" />
</div>

