@{
    ViewBag.Title = "Điều khoản - Chính sách";
}

<link href="~/pages/Home/Rules/style.css" rel="stylesheet" />


<div class="container">
    <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-font-bold">Thông tin thu thập</h3>
        <div class="c-line-left"></div>
    </div>
    <ol>
        <li>Thông tin bạn cung cấp trực tiếp cho chúng tôi.</li>
        <li>Tên người dùng, mật khẩu và địa chỉ email của bạn khi bạn đăng ký tài khoản Shop Liên Quân.</li>
        <li>Thông tin tiểu sử bạn cung cấp cho hồ sơ người dùng (ví dụ: họ và tên, ảnh, số điện thoại). Thông tin này cho phép chúng tôi giúp bạn hoặc những người khác "được tìm thấy" trên Shop Liên Quân.</li>
        <li>Nội dung của người dùng (ví dụ: ảnh, bình luận và các tài liệu khác) bạn đăng lên Dịch vụ.</li>
        <li>Liên lạc giữa bạn và Shop Liên Quân. Ví dụ: chúng tôi có thể gửi cho bạn email liên quan đến Dịch vụ (ví dụ: xác minh tài khoản, thay đổi/cập nhật các tính năng của Dịch vụ, thông báo kỹ thuật và bảo mật). Lưu ý rằng bạn không thể bỏ nhận email liên quan đến Dịch vụ.</li>
    </ol>
    <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-font-bold">Chia sẻ thông tin</h3>
        <div class="c-line-left"></div>
    </div>
    <ol>
        <li>Chúng tôi sẽ không cho thuê hoặc bán thông tin của bạn cho bên thứ ba ngoài Shop Liên Quân (hoặc nhóm các công ty mà Shop Liên Quân là một bộ phận trong đó) mà không có sự chấp thuận của bạn, ngoại trừ như được nêu trong Chính sách này.</li>
        <li>Chúng tôi có thể chia sẻ Nội dung của người dùng và thông tin của bạn (bao gồm nhưng không giới hạn ở thông tin từ cookie, tệp nhật ký, số nhận dạng thiết bị, dữ liệu vị trí và dữ liệu sử dụng) với những doanh nghiệp là một bộ phận hợp pháp của cùng một nhóm các công ty mà Shop Liên Quân là một bộ phận trong đó hoặc trở thành một phần của nhóm đó ("Chi nhánh"). Chi nhánh có thể sử dụng thông tin này để giúp cung cấp, hiểu và cải thiện Dịch vụ (bao gồm bằng cách cung cấp thông tin phân tích) và các dịch vụ của chính Chi nhánh (bao gồm bằng cách cung cấp cho bạn trải nghiệm tốt hơn và phù hợp hơn). Nhưng những Chi nhánh này sẽ tôn trọng lựa chọn của bạn về người có thể xem ảnh của bạn.</li>
        <li>Chúng tôi cũng có thể chia sẻ thông tin của bạn cũng như thông tin từ các công cụ như cookie, tệp nhật ký, số nhận dạng thiết bị và dữ liệu vị trí với các tổ chức bên thứ ba giúp chúng tôi cung cấp Dịch vụ cho bạn ("Nhà cung cấp dịch vụ"). Nhà cung cấp dịch vụ của chúng tôi sẽ được cấp quyền truy cập vào thông tin của bạn ở mức độ phù hợp cần thiết để cung cấp Dịch vụ theo các điều khoản bí mật hợp lý.</li>
        <li>Chúng tôi cũng có thể chia sẻ thông tin nhất định như dữ liệu cookie với đối tác quảng cáo bên thứ ba. Thông tin này sẽ cho phép các mạng quảng cáo của bên thứ ba thực hiện nhiều việc, trong đó có phân phối quảng cáo được nhắm mục tiêu mà họ tin rằng bạn sẽ quan tâm nhất.</li>
        <li>Chúng tôi có thể xóa các phần dữ liệu có thể nhận dạng bạn và chia sẻ dữ liệu được ẩn danh với các bên khác. Chúng tôi cũng có thể kết hợp thông tin của bạn những thông tin khác theo cách không còn được liên kết với bạn và chia sẻ thông tin được tổng hợp đó.</li>
        <li>Các bên mà bạn có thể chọn chia sẻ Nội dung của người dùng của mình.</li>
        <li>Bất cứ thông tin hoặc nội dung nào bạn tự nguyện tiết lộ để đăng lên Dịch vụ, chẳng hạn như Nội dung của người dùng, được hiển thị cho mọi người, được kiểm soát theo bất kỳ cài đặt quyền riêng tư có thể áp dụng nào mà bạn đã đặt. Để thay đổi cài đặt quyền riêng tư trên Dịch vụ, vui lòng thay đổi cài đặt trang cá nhân của bạn. Sau khi bạn đã chia sẻ Nội dung của người dùng hoặc đặt nội dung đó thành công khai, người khác có thể chia sẻ lại Nội dung của người dùng đó.</li>
        <li>Tùy thuộc vào cài đặt quyền riêng tư và trang cá nhân của bạn, mọi Nội dung của người dùng mà bạn công khai có thể được những Người dùng khác tìm kiếm và sử dụng trong API Shop Liên Quân của chúng tôi. Việc sử dụng API Shop Liên Quân tuân theo Điều khoản sử dụng API kết hợp với các điều khoản của Chính sách quyền riêng tư này.</li>
        <li>Nếu bạn xóa thông tin mình đã đăng lên Dịch vụ, các bản sao vẫn có thể xem được trong các trang được lưu vào bộ nhớ đệm và được lưu trữ của Dịch vụ hoặc nếu những Người dùng khác hoặc bên thứ ba đang sử dụng API Shop Liên Quân đã sao chép hoặc lưu thông tin đó.</li>
        <li>Điều gì sẽ xảy ra trong trường hợp thay đổi quyền kiểm soát: Nếu chúng tôi bán hay chuyển nhượng một phần hoặc toàn bộ Shop Liên Quân hoặc tài sản khác cho một tổ chức khác (ví dụ: trong khi thực hiện giao dịch như sáp nhập, mua lại, phá sản, giải thể, thanh lý), thông tin của bạn như tên và địa chỉ email, Nội dung của người dùng và mọi thông tin khác được thu thập qua Dịch vụ có thể nằm thuộc các mục được bán hoặc chuyển nhượng. Bạn sẽ tiếp tục sở hữu Nội dung của người dùng của mình. Người mua hoặc người được chuyển nhượng sẽ phải tôn trọng cam kết mà chúng tôi đưa ra trong Chính sách quyền riêng tư này.</li>
        <li>Phản hồi các yêu cầu pháp lý và tránh gây hại: Chúng tôi có thể truy cập, bảo vệ và chia sẻ thông tin của bạn khi phản hồi các yêu cầu pháp lý (như lệnh khám, lệnh tòa hoặc trát đòi hầu tòa) nếu chúng tôi tin rằng luật yêu cầu chúng tôi làm như vậy. Việc này có thể bao gồm phản hồi các yêu cầu pháp lý từ khu vực pháp quyền bên ngoài Hoa Kỳ, nơi chúng tôi tin rằng luật pháp thuộc khu vực pháp quyền đó yêu cầu phản hồi, ảnh hưởng đến người dùng trong khu vực pháp quyền đó và thống nhất với các tiêu chuẩn được công nhận trên thế giới. Chúng tôi cũng có thể truy cập, bảo vệ và chia sẻ thông tin khi chúng tôi tin rằng điều đó là cần thiết để: phát hiện, ngăn chặn và giải quyết gian lận và hoạt động phi pháp khác; để tự bảo vệ chúng tôi, bạn và người khác, bao gồm như một phần của việc điều tra; và để ngăn ngừa tử vong hoặc thương tích sắp xảy ra với cơ thể. Thông tin chúng tôi nhận được về bạn có thể được truy cập, xử lý và lưu giữ trong một khoảng thời gian dài khi đó là đối tượng của yêu cầu, nghĩa vụ pháp lý, điều tra của chính phủ hoặc điều tra liên quan đến khả năng vi phạm các điều khoản hoặc chính sách của chúng tôi hoặc nhằm ngăn ngừa thiệt hại.</li>
    </ol>
    <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-font-bold">Lưu trữ thông tin</h3>
        <div class="c-line-left"></div>
    </div>
    <ol>
        <li>Lưu trữ và xử lý: Thông tin của bạn được thu thập qua Dịch vụ có thể được lưu trữ và xử lý tại Hoa Kỳ hoặc bất kỳ quốc gia nào khác mà Shop Liên Quân, Chi nhánh hoặc Nhà cung cấp dịch vụ của Shop Liên Quân có cơ sở.</li>
        <li>Shop Liên Quân, Chi nhánh hoặc Nhà cung cấp dịch vụ của mình có thể truyền thông tin mà chúng tôi thu thập về bạn, bao gồm thông tin cá nhân qua biên giới và từ quốc gia hoặc khu vực pháp lý của bạn đến quốc gia hoặc khu vực khác trên toàn thế giới. Nếu bạn đang sống tại Liên minh châu Âu hoặc khu vực khác có luật điều chỉnh việc thu thập và sử dụng dữ liệu có thể khác với luật của Hoa Kỳ, xin lưu ý rằng chúng tôi có thể truyền thông tin, bao gồm thông tin cá nhân, tới quốc gia và khu vực pháp lý không có luật bảo vệ dữ liệu giống như tại khu vực pháp lý của bạn.</li>
        <li>Bằng cách đăng ký và sử dụng Dịch vụ, bạn đồng ý truyền thông tin đến Hoa Kỳ hoặc đến bất kỳ quốc gia nào khác nơi Shop Liên Quân, Chi nhánh hoặc Nhà cung cấp dịch vụ của Shop Liên Quân có cơ sở cũng như việc sử dụng và tiết lộ thông tin về bạn như được mô tả trong Chính sách quyền riêng tư này.</li>
        <li>Chúng tôi sử dụng các biện pháp bảo vệ hợp lý về mặt thương mại giúp giữ bảo mật thông tin được thu thập qua Dịch vụ cũng như thực hiện các bước hợp lý (chẳng hạn như yêu cầu mật khẩu duy nhất) để xác minh danh tính của bạn trước khi cấp cho bạn quyền truy cập vào tài khoản của mình. Tuy nhiên, Shop Liên Quân không thể đảm bảo tính bảo mật của mọi thông tin bạn gửi đến Shop Liên Quân hay đảm bảo rằng thông tin trên Dịch vụ không thể bị truy cập, tiết lộ, thay đổi hay phá hủy.</li>
        <li>Hãy góp phần trợ giúp chúng tôi. Bạn có trách nhiệm duy trì tính bí mật của thông tin tài khoản và mật khẩu duy nhất của mình cũng như có trách nhiệm kiểm soát quyền truy cập vào email giữa bạn với Shop Liên Quân, tại mọi thời điểm. Cài đặt quyền riêng tư của bạn cũng có thể bị ảnh hưởng bởi những thay đổi mà các dịch vụ phương tiện xã hội bạn kết nối với Shop Liên Quân thực hiện đối với các dịch vụ của họ. Chúng tôi không chịu trách nhiệm đối với tính năng, quyền riêng tư hoặc các biện pháp bảo mật của bất kỳ tổ chức nào khác.</li>
        <li>Chúng tôi tự động xóa dữ liệu lịch sử nạp thẻ và lịch sử mua acc của bạn trong 7 ngày, bạn không thể xem lịch sử và các dữ liệu liên quan tới lịch sử nạp thẻ và lịch sử mua acc sau 7 ngày kể từ khi bạn thực hiện giao dịch.</li>
        <li>Chúng tôi xóa các tài khoản không còn hoạt động trong 30 ngày trên trang web của chúng tôi, lưu ý trong 30 ngày kể từ lần truy cập cuối cùng tài khoản của bạn sẽ bị xóa khỏi trung tâm lưu trữ dữ liệu của chúng tôi, nó bao gồm cả số dư trong tài khoản của bạn.</li>
    </ol>
    <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-font-bold">Lựa chọn thông tin</h3>
        <div class="c-line-left"></div>
    </div>
    <ol>
        <li>Thông tin tài khoản và thiết lập trang cá nhân/quyền riêng tư của bạn: Cập nhật tài khoản bất kỳ lúc nào bằng cách đăng nhập và thay đổi cài đặt trang cá nhân của bạn.</li>
        <li>Hủy đăng ký liên lạc qua email từ chúng tôi bằng cách nhấp vào "liên kết hủy đăng ký" có trong liên lạc đó. Như được nêu ở trên, bạn không thể bỏ nhận thông báo liên quan đến Dịch vụ (ví dụ: xác minh tài khoản, xác nhận mua hàng và thanh toán cũng như lời nhắc, thay đổi/cập nhật các tính năng của Dịch vụ, thông báo kỹ thuật và bảo mật).</li>
        <li>Tìm hiểu thêm về việc xem lại hoặc sửa đổi thông tin tài khoản của bạn.</li>
        <li>Thời gian chúng tôi giữ Nội dung của người dùng của bạn: Sau khi chấm dứt hoặc vô hiệu hóa tài khoản của bạn, Shop Liên Quân, Chi nhánh hoặc Nhà cung cấp dịch vụ của Shop Liên Quân có thể giữ lại thông tin (bao gồm thông tin trang cá nhân của bạn) và Nội dung của người dùng trong khoảng thời gian hợp lý về mặt thương mại cho các mục đích sao lưu, lưu trữ và/hoặc kiểm tra.</li>
    </ol>
    <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-font-bold">Quyền riêng tư trẻ em</h3>
        <div class="c-line-left"></div>
    </div>
    <ol>
        <li>Shop Liên Quân không chủ định thu thập hoặc yêu cầu bất kỳ thông tin nào từ bất kỳ ai dưới 13 tuổi hoặc không chủ ý cho phép những người đó đăng ký Dịch vụ. Dịch vụ và nội dung của Dịch vụ không nhắm tới trẻ em dưới 13 tuổi. Trong trường hợp chúng tôi biết rằng mình đã thu thập thông tin cá nhân từ trẻ em dưới 13 tuổi mà không có sự chấp thuận của cha mẹ, chúng tôi sẽ xóa thông tin đó nhanh nhất có thể. Nếu bạn cho rằng chúng tôi có thể có thông tin từ hoặc về trẻ dưới 13 tuổi, vui lòng liên hệ với chúng tôi.</li>
    </ol>
    <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-font-bold">Dịch vụ trang web khác</h3>
        <div class="c-line-left"></div>
    </div>
    <ol>
        <li>Chúng tôi không chịu trách nhiệm đối với những thực tiễn được triển khai bởi bất kỳ trang web hoặc dịch vụ nào được liên kết đến hoặc từ Dịch vụ của chúng tôi, bao gồm thông tin hoặc nội dung có trong đó. Xin lưu ý rằng khi bạn sử dụng liên kết để đi từ Dịch vụ của chúng tôi đến trang web hoặc dịch vụ khác, Chính sách quyền riêng tư của chúng tôi không áp dụng đối với những trang web hoặc dịch vụ bên thứ ba đó. Quá trình duyệt web và tương tác của bạn trên bất kỳ trang web hoặc dịch vụ của bên thứ ba nào, bao gồm trang web hoặc dịch vụ có liên kết trên trang web của chúng tôi, phải tuân theo các quy định và chính sách của riêng bên thứ ba đó.</li>
        <li>Ngoài ra, bạn đồng ý rằng chúng tôi không có trách nhiệm và không có quyền kiểm soát đối với bất kỳ bên thứ ba nào mà bạn cho phép truy cập vào Nội dung của người dùng của mình. Nếu bạn đang sử dụng trang web hoặc dịch vụ bên thứ ba và bạn cho phép trang web hoặc dịch vụ đó truy cập vào Nội dung của người dùng của mình, bạn phải tự chịu rủi ro khi thực hiện việc đó.</li>
    </ol>
    <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-font-bold">Liên hệ với chúng tôi</h3>
        <div class="c-line-left"></div>
    </div>
    <ol>
        <li>Nếu bạn có bất kỳ câu hỏi nào về Chính sách quyền riêng tư này hoặc về Dịch vụ, vui lòng tìm kênh hỗ trợ thích hợp trong Trung tâm trợ giúp để liên hệ với chúng tôi.</li>
    </ol>
    <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-font-bold">Chính sách đóng cửa và giải thể</h3>
        <div class="c-line-left"></div>
    </div>
    <ol>
        <li>Chúng tôi có thể đóng của kinh doanh dịch vụ bất cứ lúc nào.</li>
        <li>Chúng tôi miễn trừ trách nhiệm với các ràng buộc bên người sử dụng dịch vụ, mọi thông tin kèm cả số dư tín dụng trong tài khoản của người sử dụng dịch vụ đều không còn giá trị.</li>
    </ol>
    <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-font-bold">Kênh thông tin liên hệ</h3>
        <div class="c-line-left"></div>
    </div>
    <ol>
        <li>Nếu gặp bất cứ sự cố nào về vấn đề nạp thẻ, account đã mua hãy liên hệ với chúng tôi qua facebook.</li>
        <li>Lưu ý, bạn không liên hệ với adm là bạn mất quyền lợi. Chúng tôi ko chịu trách nhiệm khi bạn không liên hệ với adm qua kênh chat duy nhất đó chính là Facebook, bạn không có quyền khiếu nại các vấn đề liên quan nếu không liên hệ với chúng tôi để chúng tôi khắc phục sự cố cho bạn.</li>
    </ol>
</div>