
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: all .55s ease-in-out;
    padding: 0px var(--paddingX);
    min-height: 65px;

    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.075);
    background: rgba(255,255,255, 0.9);
    backdrop-filter: saturate(180%) blur(20px);
}


#header #logo {
    > img {
        max-height: 50px;
    }
}


#header #btn-login {
    user-select: none;
    border-radius: 3px;
    background-color: #488aff;
    box-shadow: 0 2px 5px 0 #488bff60;
    color: #fff;

    text-decoration: none;
    padding: 10px 25px;

    transition: all .25s ease-in-out;
    &:hover {
        box-shadow: none;
    }
    &:active {
        background-color: #488bff60;
    }
}


#header #search-bar {
    background: rgba(255, 255, 255, 0.767);
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 50px;

    input {
        border: none;
        padding: 0 10px 0;
        width: 300px;
        background: transparent;

        &::placeholder {
            color: rgb(197, 197, 197);
        }
    }
}


#header #category-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;


    .category-item {
        position: relative;

        .category-link {
            display: inline-block;
            text-decoration: none;
            color: #5b708b;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: -.01em;

            &:hover {
                color: #488aff;
                // border-radius: 3px;
                // background: #488bff31;
            }

            &.expandable {
                position: relative;
                padding-right: 20px;

                label:after {
                    content: '';
                    position: absolute;
                    top: 45%;
                    right: 10px;

                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 4px solid #5b708b;
                }
            }

            label {
                cursor: pointer;
                padding: 15px;
                display: block;
                height: 100%;
            }
        }

        .sub-menu {
            display: none;
            

            background: rgba(255, 255, 255, 0.986);
            box-shadow: 0 5px 24px rgba(2, 8, 20, 0.075), 0 8px 8px rgba(2,8,20,.1);
            padding: 15px 15px 15px 15px;
            border: 0;
            border-radius: 4px;

            position: absolute;
            top: 100%;
            z-index: 99;
            transform-origin: 50% 0;
            width: max-content;

            .sub-menu-item {
                display: flex;
                flex-direction: row;
                // column-gap: 50px;

                .sub-menu-item-column {
                    display: flex;
                    flex-direction: column;
                    padding: 0 20px;


                    &:not(:last-child) {
                        border-right: 1px solid #eee;
                    }

                    li:first-child {
                        padding: 5px 15px 20px 15px;
                        color: #488aff;
                    }

                    li a {
                        min-width: 150px;
                        text-decoration: none;
                        display: block;
                        padding: 10px 15px;
                        font-weight: 500;
                        font-size: 15px;
                        color: rgb(114, 114, 114);

                        transition: all .15s ease-in-out;
                        &:hover {
                            border-radius: 3px;
                            background: #488bff31;
                        }
                    }
                }
            }
        }

        &:hover .sub-menu {
            display: block;
            opacity: 1;
        }
    }
}


#header #right-side {
    > #chb-user-dropdown {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;

        &:checked {
            & + #user-area > #user-dropdown {
                display: block;
            }
        }
    }

    > #user-area {
        user-select: none;
        cursor: pointer;
        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 15px;
        padding: 5px 30px 5px 10px;

        transition: all 0.25s ease-in-out;
        background: rgb(245, 245, 245);
        border: 1px solid #ddd;
        border-radius: 4px;
        color: #004a90;
        // font-weight: bold;


        &:after {
            content: '';

            position: absolute;
            top: 50%;
            right: 10px;

            border-top: 4px solid #004a90;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
        }

        > #user-avatar {
            width: 30px;
            height: 30px;

            border-radius: 50%;
            border: 1px solid #ccc;
        }


        $dropdown-top: 56px;
        $dropdown-radius: 6px;
        $dropdown-size: 10px;
        $dropdown-right: 10px;
        $item-hover-background: rgb(248, 248, 248);
        > #user-dropdown {
            display: none;
            width: max-content;
            list-style-type: none;

            position: absolute;
            top: $dropdown-top;
            right: 0;
            z-index: 9999;

            background: #fff;
            border-radius: $dropdown-radius;
            border: 1px solid #ddd;
            box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.027);


            &.first-item-hovered {
                &::before {
                    border-bottom-color: $item-hover-background;
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: -$dropdown-size;
                right: $dropdown-right + 1.5px;
                z-index: 99;

                border-bottom: $dropdown-size solid #fff;
                border-left: $dropdown-size solid transparent;
                border-right: $dropdown-size solid transparent;
            }
            &::after {
                content: "";
                position: absolute;
                top: -($dropdown-size + 1px);
                right: $dropdown-right;
                z-index: 98;

                border-bottom: ($dropdown-size + 1px) solid #ddd;
                border-left: ($dropdown-size + 1.5px) solid transparent;
                border-right: ($dropdown-size + 1.5px) solid transparent;
            }


            > .user-dropdown-item {
                list-style-type: none;
                width: 100%;
                display: block;
                flex-direction: row;
                justify-content: stretch;
                align-items: center;
                border: none;


                > .user-dropdown-link {
                    font-size: 16px;
                    font-weight: 450;
                    text-decoration: none;
                    display: block;
                    padding: 15px;
                    border: none;
                    color: #004a90;

                    &:hover {
                        background: $item-hover-background;
                    }

                    > i {
                        font-size: 20px;
                        transform: translateY(-2px);
                        vertical-align: middle;
                    }

                    > p {
                        margin-left: 15px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                

                &:first-child {
                    border-bottom: 1px solid rgb(226, 226, 226);
                    > .user-dropdown-link {
                        border-top-left-radius: $dropdown-radius;
                        border-top-right-radius: $dropdown-radius;
                    }
                }
                &:last-child {
                    border-top: 1px solid rgb(226, 226, 226);

                    > .user-dropdown-link {
                        color: crimson;
                        border-bottom-left-radius: $dropdown-radius;
                        border-bottom-right-radius: $dropdown-radius;
                    }
                }
            }
        }
    }   // user-area
}