

#content {
    overflow-y: auto;
    padding: 25px var(--paddingX) 0;
    background: rgb(253, 253, 253);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;

    // transition: all .55s ease-in-out;
    text-align: justify;
}