@model ChangePasswordViewModel
@{ 
    ViewBag.Title = "Thay đổi Mật khẩu";
}

<link href="~/pages/Account/ChangePassword/style.css" rel="stylesheet" />
<script src="~/pages/Account/ChangePassword/script.js"></script>


<div class="info-container">
    <form asp-action="ChangePassword">
        <input class="form-control" asp-for="OldPassword" placeholder="Mật khẩu cũ" required
               oninvalid="javascript: setCustomValidity('Vui lòng nhập Mật khẩu cũ');"
               oninput="javascript: setCustomValidity('');" />

        <input class="form-control" asp-for="NewPassword" placeholder="Mật khẩu mới" required
               oninvalid="javascript: setCustomValidity('Vui lòng nhập Mật khẩu mới');"
               oninput="javascript: setCustomValidity('');" />

        <input class="form-control" asp-for="NewConfirmPassword" placeholder="Nhập lại Mật khẩu mới" required
               oninvalid="javascript: setCustomValidity('Vui lòng nhập lại Mật khẩu mới');"
               oninput="javascript: setCustomValidity('');" />


        <div>
            <a class="btn" id="btn-reset-password" asp-action="ResetPassword">Quên Mật khẩu? Reset</a>
            <input class="btn" type="submit" id="btn-save-changes" value="Lưu thay đổi" />
        </div>
    </form>
</div>