@model bool

@{
    ViewBag.Title = "Xác minh Tài khoản";
}


<link href="~/pages/Account/ConfirmEmail/style.css" rel="stylesheet" />



<div class="confirm-container">
    @if (Model)
    {
        <p class="alert alert-success">Thành công! Bây giờ bạn có thể Đăng nhập và sử dụng các dịch vụ.</p>
        <a class="btn btn-primary mt-4" asp-controller="Home" asp-action="Index">Về Trang Chủ</a>
    }
    else
    {
        <p class="alert alert-danger">Thất bại! Vui lòng Đăng ký lại hoặc liên hệ Quản trị viên.</p>
        <a class="btn btn-primary mt-4" asp-controller="Home" asp-action="Index">Về Trang Chủ</a>
    }
</div>