@{ 
    Layout = "_LoginLayout";
    ViewBag.Title = "Đặt lại Mật khẩu";
}

<link href="~/pages/Account/DoResetPassword/style.css" rel="stylesheet" />


<form method="post">
    <input type="email" class="form-control" name="email" value="@(ViewBag.Email ?? null)" required placeholder="Nhập E-mail của bạn" />
    <input class="form-control" type="submit" value="Đặt lại Mật khẩu" />
</form>