@model ResetPasswordEmailViewModel
@{ 
    ViewBag.Title = "Đặt lại Mật khẩu";
}

<link href="~/pages/Account/ResetPasswordEmail/style.css" rel="stylesheet" />



<form method="post">
    @Html.HiddenFor(vm => vm.Token)
    @Html.HiddenFor(vm => vm.UserId)


    <input class="form-control" asp-for="NewPassword" placeholder="Mật khẩu mới" required />
    <input class="form-control" asp-for="NewConfirmPassword" placeholder="Nhập lại Mật khẩu mới" required />


    <input class="form-control" type="submit" value="Lưu thay đổi" />
</form>