@model HeaderViewModel


<div id="header">

    <a id="logo" href="@Url.AbsoluteContent("~/")">
        <img src="~/logo.png" />
    </a>


    <ul id="category-menu">
        <li class="category-item">
            <a class="category-link" href="@Url.AbsoluteContent("~/")">
                <label>Trang Chủ</label>
            </a>
        </li>


        @await Html.PartialAsync("_HeaderCenterMenu", Model)
    </ul>


    <div id="right-side">
        
        @if (Model.User != null)
        {
            @await Html.PartialAsync("_UserArea", Model)
        }
        else
        {
            <a id="btn-login" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        }
    </div>

</div>